<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Math</title>
</head>
<body>

<h1>Calculator</h1>

<form action="/submit" method="post">
    <label>First number:</label>
    <input type="number" name="first" min="0" required>

    <br><br>

    <label>Second number:</label>
    <input type="number" name="second" min="0" required>

    <br><br>

    <button type="submit">Calculate</button>
</form>

{% if error.len() > 0 %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% if result.len() > 0 %}
<pre style="color:green;">{{ result }}</pre>
{% endif %}

</body>
</html>